*{
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: #18181b;
    width: 90%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    max-width: 500px;
    margin-bottom: 24px;
}
.container-input{
    max-width: 380px;
    margin: 14px 0;
}
.container-input span{
    color: #FFF;
    font-size: 22px;
}
.slider{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5px;
    background: #DFDFDF;
    height: 18px;
    outline: none;
    margin-top: 8px;
}
.button-cta{
    height: 40px;
    background-color: #45b619a2;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    color: #DFDFDF;
    font-size: 18px;
}

.container-password{
    max-width: 480px;
    margin: 14px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.title{
    text-align: center;
    color: #DFDFDF;
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 8px;
}
.password{
    height: 60px;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DFDFDF;
    border: 1px solid #313131;
    transition: transform 0.5s;
}
.password:hover{
    transform: scale(1.10);
}
.tooltip{
    color: #DFDFDF;
    position: relative;
    top: 20px;
    padding: 6px 8px;
    /* background: rgb(15, 15, 15); */
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

}

.container-password:hover .tooltip{
    visibility: visible;
    bottom: 50px;
    opacity: 1;

}
.hide{
    display: none;
}
#toast {
    position: fixed;
    min-width: 250px;
    bottom: 50px;
    right: 10px;
    text-align: right;
  }
  
  #toast .toastWrap {
    margin: 6px 0 0;
    padding: 18px 0 15px;
    display: none;
  }
  
  .toast {
    border: 1px solid #F1D031;
    color: #444;
    background: #FFFFA3;
    box-shadow: 0 2px 3px #999;
    padding: 18px 20px 15px 8px;
    text-align: left;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 16px;
    white-space: pre;
    position: relative;
  }
  
  #toast b {
    display: block;
    position: absolute;
    top: 3px;
    right: 4px;
    width: 12px;
    height: 12px;
    font: normal 12px/1 Arial, sans-serif;
    text-align: right;
    cursor: pointer;
    text-shadow: #FFF 0 1px 0;
  }
  
  #toast b:before {
    content: "\2716";
  }
  
  .timerWrap {
    position: absolute;
    bottom: 4px;
    left: 4px;
    overflow: hidden;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
  
  .timer {
    display: block;
    height: 4px;
    width: 0;
    background-color: #F1D031;
  }